@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Hanuman;
    font-style: normal;
    font-weight: 400;
    color: rgb(34, 34, 34);
    size: 16px;
    line-height: 16px;
}